*{margin: 0; padding: 0;}

body {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    font-family:Arial, Helvetica, sans-serif;
    background: rgb(192,192,192); 
    background: radial-gradient(circle, rgba(192,192,192,1) 40%, rgba(36,36,36,1) 95%);
    color: #24292e;
    .section-title {
        font-size: 1.6rem;
        margin-bottom: 20px;
        color: #f4f4f4;
    }   
    header {
        .mm-title {
            padding-bottom: 20px;
            // color: #0366d6;
            color: #f4f4f4;
        }

        .mm-thumbnail {
            width: 100%;
            box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: .5);
            margin-bottom: 20px;
        }
    }

    .mm-content{
        >* {padding: 20px 0;}
        .music-info {
            font-size: 1.5rem;
            list-style: none;

            li {
                margin: 10px;
            }
        }

        .download-text {
            a {
                color: #0366d6;
                font-size: 1.5rem;
            }
        }

        .download-cont {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .download-btn {
            background-color: #24292e;
            padding: 20px 70px;
            color: #f4f4f4;
            box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: .5);
            border-radius: 5px;
            // margin: 0 10px;
        }

        .lyrics {
            p {
                font-size: 1.2rem;
                line-height: 25px;
            }
        }
    }
    .posts-container{
        a {
            text-decoration: none;
        }
        .post-cont {
            background-color: #24292e;
            color: #f4f4f4;
            text-decoration: none;
            font-size: 1.5rem;
            padding: 20px 20px 50px;
            border-radius: 5px;
            box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: .5);
            margin: 20px 0;
            transition: .3s;
            &:hover {
                background-color: #0366d6;
            }
        }
    }
    
    footer {
        >*{
            margin: 20px 0;
        } 
        color: #f4f4f4;
        .breand {
            color: #f4f4f4;
            font-size: 1.8rem;
            border-left: 10px solid #0366d6;
            border-radius: 50px;
            // padding: 10px;
            max-width: 150px;
        }
        
        nav {
            ul {
                list-style: none;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;

                a {
                    color: #f4f4f4;
                    font-size: 1.2rem;
                }
            }
        }
        
        .copyright {
            border: 5px solid #f4f4f4;
            box-shadow: 10px 10px 3px rgba($color: #000000, $alpha: .8);
            max-width: 150px;
            margin-left: 50%;
            margin-left: auto;
            margin-right: 0;
            text-align: start;
            padding: 20px;
            a {
                font-size: 1.2rem;
                font-weight: 800;
                color: #f4f4f4;
                text-decoration: none;
                text-transform: uppercase;
                // padding: 15px;
                
            }
            // width: 25%;
            // background-color: #24292e;
            // color: #0366d6;
            // padding: 20px;
            // border: 25px;
            // box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: .5);
        }
    }
}